.statistics {
  width: 500px;
  margin: auto;
  border: solid 1px black;
}

.title {
  font-size: 16p;
  color: #7a5555;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.list {
  height: 60px;
  display: flex;
  list-style: none;
}

.item {
  width: 100px;
  border: solid 1px black;
}

.label {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.percentage {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}
